<div class="jumbotron">
    <h1 class="display-4">EDITORIAL REY SOLIS</h1>
    
    <hr class="my-4">
    <p>Eliminar Empleado</p>
<form>
    <div class="row">
      <div class="col">
        <input type="text" rauterLinkActive="Active" name="cedula" [(ngModel)]="emp"  class="form-control" placeholder="Introduce el id del empleado a eliminar"  >
      </div>
      <div class="col">
        <button type="button" class="btn btn-dark"   (click)="deleteEm()"  >Buscar</button>
         
      </div>
    </div>
  </form>
