<div class="jumbotron">
    <h1 class="display-4">EDITORIAL REY SOLIS</h1>
    
    <hr class="my-4">
    <p>Buscar Empleado</p>
<form>
    <div class="row">
      <div class="col">
        <input type="text" rauterLinkActive="Active" name="cedula" [(ngModel)]="cedula"  class="form-control" placeholder="Introduce el numero de cedula"  >
      </div>
      <div class="col">
        <button type="button" class="btn btn-dark"   (click)="traerEmpleado(cedula)"  >Buscar</button>
         
      </div>
    </div>
  </form>
