<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">EDITORIAL REY SOLIS</h1>
        <hr class="my-4">
        <p>DATOS EMPLEADO</p>

        
    </div>


    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>ID:</strong>  {{empleado.id}} 
       
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>CEDULA:</strong>  {{empleado.cedula}} 
        
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>NOMBRES:</strong>  {{empleado.nombre}} 
       
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>APELLIDOS:</strong>  {{empleado.apellidos}} 
        
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>TELEFONO:</strong>  {{empleado.telefono}} 
       
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>CORREO:</strong>  {{empleado.email}} 
       
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>DIRECCION:</strong>  {{empleado.direccion}} 
        
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>CIUDAD:</strong>  {{empleado.ciudad}} 
       
      </div>
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>ROL:</strong>  {{empleado.rol}} 
        
      </div>
    
    <button class="btn btn-success btn-block"  (click)="volver()" >ACEPTAR</button>
             
</div>

