<div class="jumbotron">
    <h1 class="display-4">EDITORIAL REY SOLIS</h1>    
    <hr class="my-4">
    <p>Introduce Los Datos Del Nuevo Empleado</p>
<form>
<input type="text" rauterLinkActive="Active" name="Cedula" [(ngModel)]="empleado.cedula"  class="form-control" placeholder="Introduce el numero de cedula"  >

<input type="text" rauterLinkActive="Active" name="Nombre" [(ngModel)]="empleado.nombre"  class="form-control" placeholder="Introduce el nombre"  >

<input type="text" rauterLinkActive="Active" name="Apellidos" [(ngModel)]="empleado.apellidos"  class="form-control" placeholder="Introduce los apellidos"  >

<input type="text" rauterLinkActive="Active" name="Telefono" [(ngModel)]="empleado.telefono"  class="form-control" placeholder="Introduce el numero de telefono"  >

<input type="text" rauterLinkActive="Active" name="Email" [(ngModel)]="empleado.email"  class="form-control" placeholder="Introduce el correo electronico"  >

<input type="text" rauterLinkActive="Active" name="Direccion" [(ngModel)]="empleado.direccion"  class="form-control" placeholder="Introduce la direccion"  >

<input type="text" rauterLinkActive="Active" name="Ciudad" [(ngModel)]="empleado.ciudad"  class="form-control" placeholder="Introduce la ciudad"  >

<input type="text" rauterLinkActive="Active" name="Rol" [(ngModel)]="empleado.rol"  class="form-control" placeholder="Introduce el rol"  >
   
<button class="btn btn-success btn-block"  (click)="addEm()" >ACEPTAR</button>
        
    

</form>
</div>