<div class="jumbotron">
    <h1 class="display-4">EDITORIAL REY SOLIS</h1>
    
    <hr class="my-4">
    <p>EMPLEADOS</p>
    
  </div>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="listar_empleados">Listar empleados</a>
            </nav>
          </div>

          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="buscar_empleados">Buscar empleado</a>
            </nav>
          </div>
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="up-empleado">Actualizar  empleado</a>
            </nav>
          </div>
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="eliminar-empleado">Eliminar empleado</a>
            </nav>
          
    

